body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  min-width: 300px;
  font-family: 'Montserrat', 'sans-serif';
}

.mode-container {
  background: rgba(165, 170, 174, 0.25);
  box-shadow: inset 0 2px 8px 0 rgba(165, 170, 174, 0.25);
  border-radius: 24px;
  display: inline-block;
  overflow: hidden;
  display: inline-flex;
  flex-direction: row;
  transition: all 500ms ease;
  margin-top: 10px;
}

.mode-toggle {
  border-radius: 22px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color: transparent;
  border: 0px solid transparent;
  margin: 2px;
  color: #727C8F;
  cursor: pointer;
  transition: all 0.5s ease;
}

.mode-toggle.active {
  background-image: linear-gradient(-180deg, #fff 0%, #FAFAFA 81%, #F2F2F2 100%);
  border: 1px solid rgba(207, 207, 207, 0.6);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  color: #6744B1;
  font-weight: 500;
  transition: all .5s ease-in;
}

.mode-toggle:focus {
  outline: none;
}

.toggle-options {
  height: 0;
  width: 0;
  visibility: hidden;
}

.label-options {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.label-options:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 10px;
  transition: 0.3s;
}

.toggle-options:checked + .label-options {
  background: #bada55;
}

.toggle-options:checked + .label-options:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 40px;
}

p {
    font-size: 14px;
    color:black;
}

.p-small {
    font-size: 12px;
    color:black;
}

.option-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
}

.thumbnails-toggle-container {
    display:flex;
    flex-direction: column;
}

.thumbnails-show-toggle {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.thumbnails-hide-options-toggle {
    display: none;
    margin-left: 20px;
    column-gap: 8px;
    align-items: center;
}

.preview-toggle-container {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.recommendations-toggle-container {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.comments-toggle-container {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.sidebar-toggle-container {
    display: flex;
    column-gap: 8px;
    align-items: center;
}
